<ng-container class="ps-10">
  <div class="ps-20 pe-20" style="font-family: Montserrat">
    <h1 class="toolbar py-5 py-lg-10"></h1>

    <div style="font-size: 48px">Disclaimer</div>

    <div class="mt-20">
      <h2>No Investment Advice</h2>
      <p class="mt-10">
        The information provided on this website does not constitute investment
        advice, financial advice, trading advice, or any other sort of advice
        and you should not treat any of the website's content as such.
        LayerOneTracker does not recommend that any cryptocurrency should be
        bought, sold, or held by you. Do conduct your own due diligence and
        consult your financial advisor before making any investment decisions.
      </p>
    </div>

    <div class="mt-20">
      <h2>Accuracy of Information</h2>
      <p class="mt-10">
        LayerOneTracker will strive to ensure accuracy of information listed on
        this website although it will not hold any responsibility for any
        missing or wrong information. LayerOneTracker provides all information
        as is. You understand that you are using any and all information
        available here at your own risk.
      </p>
    </div>

    <div class="mt-20">
      <h2>Non Endorsement</h2>
      <p class="mt-10">
        The appearance of third party advertisements and hyperlinks on
        LayerOneTracker does not constitute an endorsement, guarantee, warranty,
        or recommendation by LayerOneTracker. Do conduct your own due diligence
        before deciding to use any third party services.
      </p>
    </div>

    <div class="mt-20">
      <h2>Affiliate Disclosure</h2>
      <p class="mt-10">
        LayerOneTracker may receive compensation for affiliate links. This
        compensation may be in the form of money or services and could exist
        without any action from a site visitor. Should you perform activities in
        relation to an affiliate link, it is understood that some form of
        compensation might be made to LayerOneTracker. For example, if you click
        on an affiliate link, and sign up and trade on an exchange,
        LayerOneTracker may receive compensation. Each affiliate link is clearly
        marked with an icon next to it.
      </p>
    </div>
  </div>
</ng-container>
