<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/"
    ><span class="menu-title">Dashboard</span></a
  >
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/articles"
    ><span class="menu-title">Articles</span></a
  >
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/about"
    ><span class="menu-title">About</span></a
  >
</div>
<!-- 
  <div class="menu-item me-lg-1" *ngIf="showLogIn">
    <a class="menu-link py-3"  routerLink="/login"
    ><span class="menu-title" >Log In</span></a
    >
  </div>

  <div class="menu-item me-lg-1" *ngIf="!showLogIn">
    <a class="menu-link py-3"  routerLink="admin/dashboard"
    ><span class="menu-title" >Admin Portal</span></a
    >
  </div> -->
