USE [LayerOne]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBlogReadCount]    Script Date: 3/12/2023 1:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBlogReadCount] --1
@Id int

AS  
BEGIN  
update [Blog] set ReadCount = ReadCount + 1 where Id = @Id
insert into [dbo].[BlogActivityLog] values (SYSDATETIME(), @Id, 0, 1, 0)
END
GO
