USE [LayerOne]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBlogRecommendCount]    Script Date: 3/12/2023 1:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBlogRecommendCount] --1
@Id int

AS  
BEGIN  
update [Blog] set RecommendCount = RecommendCount + 1 where Id = @Id
insert into [dbo].[BlogActivityLog] values (SYSDATETIME(), @Id, 0, 0, 1)
END
GO
