<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/"
    ><span class="menu-title">Client Listing</span></a
  >
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/admin/dashboard"
    ><span class="menu-title">Dashboard</span></a
  >
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/admin/analytics"
    ><span class="menu-title">Analytics</span></a
  >
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3"
    ><span class="menu-title" (click)="Logout()">Log Out</span></a
  >
</div>
